# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.pytest_cache
*.sqlite3
mlflow.db
*.log
*.egg-info/
.venv/
.venv
venv/
env/
.ENV/
.env
*.env

# IDEs
.vscode/
.idea/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
examples/models/

# Packages
dist/
build/

# Misc
htmlcov/

# Video artifacts
videos/video-*/.venv/
videos/video-*/mlflow.db
videos/video-*/mlruns/
